*{
  user-select: none;
}
// app global css in SCSS form
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 70.6%, 0.2);
  border-radius: 12px;
  background-clip: padding-box;
  border: 1px solid hsla(0, 0%, 70.6%, 0.4);
  min-height: 28px;
}
::-webkit-scrollbar-track-piece {
  background-color: hsla(0, 0%, 70.6%, 0.06);
  border-radius: 3px;
}